/.project
/.metadata
*/.settings/*
*/.settings/**
/RemoteSystemsTempFiles
*/build/**
*/bin/**
*classes**
*/target/**
/.idea
*.log
.classpath
.project
.gradle
gradle
*.ipr
*.iws
*.iml
.git
*.bak
.DS_Store
*querydsl**
*bower_components**
*node_modules**
/out
/src/main/resources/static/css
/src/main/resources/static/js/app.js
/src/main/resources/static/js/base.js
/src/main/resources/static/vendor




